<!DOCTYPE html>
<html>
<head>
  <title>SoundScape</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    <% if logged_in? %>
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    <% end %>
  </script>

  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS_MP3 = {
      cloud_name: "dcwxxqs4l",
      upload_preset: "gzpjnoyl",
      theme: "minimal",
      sources: ["local"],
      client_allowed_formats: ["mp3"],
      multiiple: false,
      text: {
        "sources.local.drop_files": "Drop MP3 here",
        "sources.local.select_files": "Select MP3",
        "progress.failed_note": "Your audio failed uploading."
      }
    }
    window.CLOUDINARY_OPTIONS_IMG = {
      cloud_name: "dcwxxqs4l",
      upload_preset: "gzpjnoyl",
      theme: "minimal",
      sources: ["local"],
      client_allowed_formats: ["png", "jpg", "jpeg"],
      multiiple: false,
      text: {
        "sources.local.drop_files": "Drop Image here",
        "sources.local.select_files": "Select Image",
        "progress.failed_note": "Your image failed uploading."
      }
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
